.h1-item, h2 {
    text-align: center;
    padding-bottom: 0px;
}

@media screen and (min-width:991px) {
    .h1-item {
        text-align: left;
    }
}

.h1-item h1 {
    font-size: 1.6rem;
    padding-bottom: 10px;
}

.portada {
    width: 100% !important;
    height: auto !important;
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    /* margin-bottom: 56.25%; */
    display: block;
    background-image: url(img/assets/cargando.png);
    background-color: #2c2c2c;
    background-repeat: no-repeat;
}

.portada iframe,
.portada object,
.portada embed {
    top: 0;
    left: 0;
    width: 100% !important;
    /* height: 100%;  */
    border: 0;
    /* position: absolute; */
    display: block;
}

/* youtube link al principio en responsive */
@media screen and (max-width:991px) {
    .mover-iframe {
        -ms-flex-order: -1;
        order: -1;
    }
}

.portada-img {
    text-align: center;
}

.descripcion {
    text-align: justify;
    padding-right: 15px;
}

@media screen and (max-width:991px) {
    .descripcion {
        padding-right: 0px;
    }
}

.h2-item {
    color: #098584;
    font-size: 1.3rem !important;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

}

.puntos-ico{
    width: 60px;
    height: 60px;
    padding: 10px;
}

.centrar-flex{
    justify-content: center;
    width: 100%;
}

.cubo-item{	
    border: 1px solid #6BBFBF;	
    background-color: #D9ECEC;
    margin-bottom: 20px;
    padding: 25px;
}
.cubo-item h2{
    text-align: left;
}

.costos-raya{
    border-bottom: 1px solid #6BBFBF;
    display: block;
    width: 100%;
}

.cubo-item h2{
    display: block;
    width: 100%;
    color: #098584;
    text-transform: uppercase;
    font-size: 1rem;
}

.cuota-concepto{
    width: 100%;
}

.cubo-item b{
    font-size: 1.4rem;
    color: #098584;
    padding-right: 4px;
}

.cubo-item p{
    margin-top: .5rem;
    margin-bottom: 0px;
}
