.h1-item{
    text-align: center;
}

@media screen and (min-width:991px){
    .h1-item{
        text-align: left;
    }
}

.h1-item h1{
    font-size: 1.6rem;
    padding-bottom: 30px;
}

.portada{
    width: 100%    !important;
    height: auto   !important;
    position: relative; 
    height: 0; 
    overflow: hidden; 
    padding-top: 0; 
    padding-left: 0; 
    padding-right: 0;  
    /* margin-bottom: 56.25%; */
    display: block;
}

.portada iframe,
.portada object,
.portada embed {
    top: 0; 
    left: 0; 
    width: 100% !important; 
    /* height: 100%;  */
    border: 0; 
    /* position: absolute; */
    display: block;
}

/* youtube link al principio en responsive */
@media screen and (max-width:991px){
    .mover-iframe{
        -ms-flex-order: -1;
      order: -1;
    }
}

.portada-img{
    text-align: center;
}