body {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #6BBFBF !important;
}

.gris-gradiente {
    height: 9em;
    width: 100%;
    background: linear-gradient(221.9deg, #8E9292 0%, #4A4947 100%);
    z-index: -5;
    position: absolute;
    top: 0px;
}

@media screen and (max-width:991px) {
    .gris-gradiente {
        height: 15em;
        width: 100%;
        background: linear-gradient(221.9deg, #8E9292 0%, #4A4947 100%);
        z-index: -5;
        position: absolute;
        top: 0px;
    }
}

.area {
    position: relative;
    margin-top: -220px;
}

.centrar {
    text-align: center;
}

.aparece {
    display: inline;
}

@media only screen and (min-width: 992px) {
    .aparece {
        display: none;
    }
}

@media screen and (max-width:991px) {
    .se-va {
        display: none;
    }
}

.menu-fixing {
    z-index: -1;
    position: relative;
    background-color: #6BBFBF;
    height: 200px;
    top: 40px;
}

.subnav {
    list-style: none;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
}

.subnav li {
    display: inline;
    padding: 10px;

}

h1 {
    color: #FFFFFF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

/* FORMULARIO */
.formulario {
    align-self: center;
    padding-left: 25%;
    padding-right: 25%;

}

.formulario input,
textarea {
    display: block;
    padding: 8px 14px 7px 14px;
    margin-bottom: 15px;
    width: 100%;
}

::placeholder,
textarea {
    color: #098584;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #098584;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #098584;
}

@media screen and (max-width:991px) {
    .formulario {
        padding-left: 0%;
        padding-right: 0%;
    }
}

textarea {
    margin-bottom: 15px !important;
}

/* .separador-15{
    height: 15px;
} */

.boton {
    margin-bottom: 15px !important;
    padding: 8px 14px 7px 14px;
    background-color: #B8F2F2 !important;
    color: #098584;
    text-transform: uppercase;
    border: 2px;
    width: 100%;
    box-shadow: var(--sombra-general);

}
.boton {
    margin-bottom: 15px !important;
    padding: 8px 14px 7px 14px;
    background-color: #B8F2F2 !important;
    color: #098584;
    text-transform: uppercase;
    border: 2px;
    width: 100%;
    box-shadow: var(--sombra-general);

}

.direccion {
    padding-top: 40px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.direccion li, a{
    color: #FFFFFF;
    list-style: none;
}

.mapa iframe{
    width: 100%;
    height: 200px;
    margin-top: 40px;
    margin-bottom: -22px;

}

.whatsapp-link{
    border: 1px;
    border-style: solid;
    border-color: #FFFFFF !important;
    padding: 10px;
    margin-top: 10px;
}

.whatsapp-link a{
    color: #FFFFFF !important;
}

@media only screen and (min-width: 992px){
    .whatsapp-link{
        margin-left: 25%;
        margin-right: 25%;
    }

}